/*
 * 钱庄网Qian360
 * @affect UI库
 * @date 2014-3-19
 * @version $V1.0$
 */

.highlight{padding:0 5px;color:#dd4040;}
.highlight:hover{text-decoration:underline;}
/*iconFont*/
@font-face {
    font-family: 'iconfont'; src: url('iconfont/iconfont.eot');
    src: url('iconfont/iconfont.eot?#iefix') format('embedded-opentype'),
    url('iconfont/iconfont.woff') format('woff'),
    url('iconfont/iconfont.ttf') format('truetype'),
    url('iconfont/iconfont.svg#uxiconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
/*论坛主页*/
.bbs-page{margin:20px 0;background:#fff;}
.bbs-page .bbs-inner-t{overflow:hidden;/*margin-bottom:25px;*/margin:0 1% 25px;}
.bbs-page .bbs-inner-t .l-box{float:left;}
.bbs-page .bbs-inner-t .slide-inner{position:relative;overflow:hidden;width:670px;height:300px;margin-bottom:25px;}
.bbs-page .bbs-inner-t .slide-inner ul{width:9999px;}
.bbs-page .bbs-inner-t .slide-inner ul li{float:left;}
.bbs-page .bbs-inner-t .slide-inner ul li img{overflow:hidden;width:670px;height:300px;}
.bbs-page .bbs-inner-t .slide-inner div{position:absolute;right:12px;bottom:12px;}
.bbs-page .bbs-inner-t .slide-inner div a{float:left;overflow:hidden;width:10px;height:10px;margin-right:10px;background:#e5e5e5;}
.bbs-page .bbs-inner-t .slide-inner div .active{background:#ff9151;}
.bbs-page .bbs-inner-t .bbs-info-inner{height:48px;padding:10px 35px;color:#3a3a3a;border:1px solid #d0d5d9;}
.bbs-page .bbs-inner-t .bbs-info-inner a{color:#d74747;}
.bbs-page .bbs-inner-t .bbs-info-inner dl{margin-bottom:10px;}
.bbs-page .bbs-inner-t .bbs-info-inner dt{float:left;margin-right:20px;}
.bbs-page .bbs-inner-t .bbs-info-inner dd{overflow:hidden;zoom:1;}
.bbs-page .bbs-inner-t .r-box{overflow:hidden;zoom:1;padding-left:25px;}
.bbs-page .bbs-inner-t .news-inner{height:300px;margin-bottom:25px;border:1px solid #d0d5d9;border-radius:4px;}
.bbs-page .bbs-inner-t .news-inner .nav{overflow:hidden;}
.bbs-page .bbs-inner-t .news-inner .nav ul{overflow:hidden;margin-right:-1px;}
.bbs-page .bbs-inner-t .news-inner .nav ul li{float:left;width:50%;}
.bbs-page .bbs-inner-t .news-inner .nav ul .active a{border-bottom:0;background:#fff;cursor:default;}
.bbs-page .bbs-inner-t .news-inner .nav ul li a{display:block;height:40px;color:#69737b;border-right:1px solid #d0d5d9;border-bottom:1px solid #d0d5d9;background:#f0f4f7;font-size:14px;line-height:40px;text-align:center;}
.bbs-page .bbs-inner-t .news-inner .con .list{display:none;padding:24px 20px;}
.bbs-page .bbs-inner-t .news-inner .con .active{display:block;}
.bbs-page .bbs-inner-t .news-inner .con .list li{overflow:hidden;}
.bbs-page .bbs-inner-t .news-inner .con .list li a{color:#333333;font-size:14px;line-height:30px;}
.bbs-page .bbs-inner-t .news-inner .con .list li a:hover{color:#fd5f00;}
.bbs-page .bbs-inner-t .news-inner .con .list li .time{float:right;color:#999;font-size:12px;}
.bbs-page .bbs-inner-t .search-inner{overflow:hidden;padding:12.5px 17px;background:#eee;}
.bbs-page .bbs-inner-t .search-inner .search-val{float:left;width:276px;padding:10px;border:1px solid #cdcdcd;background:#fff;}
.bbs-page .bbs-inner-t .search-inner .search-val input{width:100%;height:20px;color:#8a8a8a;border:0;font-size:14px;line-height:20px;}
.bbs-page .bbs-inner-t .search-inner .search-btn{float:left;width:100px;height:43px;color:#fff;border:0;background:#f63;font-size:16px;line-height:40px;cursor:pointer;}
.bbs-page .bbs-inner-b .column-box{float:left;width:47.827%;*width:47.7%;margin:0 1% 25px;border:1px solid #d0d5d9;height:184px;}
.bbs-page .bbs-inner-b .column-box:hover{border:1px solid #aaaeb1;}
.bbs-page .bbs-inner-b .column-box .title{overflow:hidden;height:42px;padding:0 28px;color:#000;border-bottom:1px solid #d0d5d9;background:#f7f7f7;font-size:20px;line-height:42px;}
.bbs-page .bbs-inner-b .column-box .title > span{margin-left:10px;color:#ef2240;font-size:14px;}
.bbs-page .bbs-inner-b .column-box .info{float:right;padding-top:6px;color:#ef9f3a;font-size:14px;font-weight:bold;}
.bbs-page .bbs-inner-b .column-box .con{overflow:hidden;padding:5px 20px 20px;}
.bbs-page .bbs-inner-b .column-box .icon{float:left;width:96px;height:96px;margin:15px 20px 0 0;}
.bbs-page .bbs-inner-b .column-box .icon img{width:96px;height:92px;}
.bbs-page .bbs-inner-b .column-box .cn{overflow:hidden;zoom:1;padding-top:15px;}
.bbs-page .bbs-inner-b .column-box .cn dl{line-height:26px;}
.bbs-page .bbs-inner-b .column-box .cn .tit{color:#4e4e4e;font-size:16px;margin-bottom: 3px;font-weight:bold;}
.bbs-page .bbs-inner-b .column-box .cn li{color:#666;font-size:14px;}
.bbs-page .bbs-inner-b .column-box .cn li .author{float: right;}
.bbs-page .bbs-inner-l{margin:0 1%;border:1px solid #d0d5d9;}
.bbs-page .bbs-inner-l .tit{overflow:hidden;height:42px;padding:0 28px;color:#000;background:#f0f4f7;font-size:20px;line-height:42px;}
.bbs-page .bbs-inner-l .con{padding: 30px;}
.bbs-page .bbs-inner-l .con a{color: #e31010;font-size: 14px;}
/*论坛列表*/
.bbs-page .bbs-head{overflow:hidden;margin-bottom:15px;}
.bbs-page .bbs-head .bread-crumbs-nav{color:#475058;font-size:16px;font-weight:bold;line-height:40px;}
.bbs-page .bbs-head .bread-crumbs-nav ul{overflow:hidden;}
.bbs-page .bbs-head .bread-crumbs-nav ul li{float:left;margin-right:13px;padding-right:23px;background:url(../image/mb_nav.png) no-repeat right center;}
.bbs-page .bbs-head .bread-crumbs-nav ul .v{background:none;}
.bbs-page .bbs-head .info-outer{margin-bottom: 20px;background-color: #f7f7f7;border: solid 1px #e6e6e6;padding:20px;}
.bbs-page .bbs-head .info-outer .info-l{width: 49%;float: left;}
.bbs-page .bbs-head .info-outer .info-l .tit{margin:20px 0 5px;font-size: 16px;color: #000;}
.bbs-page .bbs-head .info-outer .info-l .con{margin:0 0 5px;font-size: 14px;color: #333;}
.bbs-page .bbs-head .info-outer .info-l .con span{color:#ea1222;}
.bbs-page .bbs-head .info-outer .info-l .more{font-size: 12px;color: #888;}
.bbs-page .bbs-head .info-outer .info-l .more span{color:#ea1222;}
.bbs-page .bbs-head .info-outer .info-r{width: 49%;float: left;}
.bbs-page .bbs-head .info-outer .info-r .des{margin:20px auto;width:290px;font-size:14px;}
.bbs-page .bbs-head .info-outer .icon{float:left;width:96px;height:92px;margin:15px 20px 0 0;overflow:hidden;}
.bbs-page .bbs-head .mn-row{margin-top:10px;}
.bbs-page .bbs-head .mn-row .btn{display:inline-block;height:40px;border:0;font-size:14px;line-height:40px;cursor:pointer;text-align: center;}
.bbs-page .bbs-head .mn-row .mn-l .btn-newpost{float: left;width:90px;color:#fff;background:#f63;}
.bbs-page .bbs-head .mn-row .mn-l .btn-reply{float: left;margin-left:10px;width:90px;color:#5e5e5e;background-color: #f9f7f7;border: solid 1px #bdbbbb;}
.bbs-page .bbs-head .mn-row .mn-r{float:right;}
.bbs-page .bbs-head .mn-row .mn-l .nv{float:left;margin:0 20px;font-size: 14px;line-height: 40px;}
.bbs-page .bbs-head .mn-row .mn-l .nv a{display:inline-block;margin-right:20px;padding-left:20px;background:url(../image/bbs_img.png) no-repeat;line-height:30px;}
.bbs-page .bbs-head .mn-row .mn-l .nv .news-theme{background-position:-23px -5px;}
.bbs-page .bbs-head .mn-row .mn-l .nv .hot-theme{background-position:-23px -150px;}
.bbs-page .bbs-head .mn-row .mn-r .search-mini{float:left;}
.bbs-page .bbs-head .mn-row .mn-r .search-mini .search-val{font:14px Arial,"Microsoft YaHei",simsun,sans-serif;width:210px;height:14px;margin-right:6px;padding:13px;color:#858585;border:1px solid #b4b9bd;}
.bbs-page .bbs-head .mn-row .mn-r .search-mini .search-btn{font:14px Arial,"Microsoft YaHei",simsun,sans-serif;width:60px;color:#fff;background:#f63;}
.bbs-page .paging{padding:30px 0 20px 0;text-align:right;}
.bbs-page-list{padding:20px 0;}
.bbs-page .bbs-list-inner{border:1px solid #e1e2e2;font-size:14px;}
.bbs-page-list .bbs-list-inner .table-list{width:100%;}
.bbs-page-list .bbs-list-inner .table-list .title{width:55%;text-align:left;}
.bbs-page-list .bbs-list-inner .table-list .posted-by{width:15%;text-align:center;color: #848484;}
.bbs-page-list .bbs-list-inner .table-list .reply_view{width:10%;text-align:center;}
.bbs-page-list .bbs-list-inner .table-list .last-post{width:20%;color:#848484;font-size:12px;text-align:left;}
.bbs-page-list .bbs-list-inner .table-list .head td{height:40px;color:#475058;background:#f8f8f8;font-weight:bold;}
.bbs-page-list .bbs-list-inner .table-list .head td .c{padding:0 40px;}
.bbs-page-list .bbs-list-inner .table-list td{height:50px;border-bottom:1px solid #e7ecee;}
.bbs-page-list .bbs-list-inner .table-list td .c{padding:0 20px;}
.bbs-page-list .bbs-list-inner .table-list .last-post .time{color:#848484;}
.bbs-page-list .bbs-list-inner .table-list .title .list-tit{display:inline-block;padding-left:30px;background:url(../image/bbs_img2.png) no-repeat 0 -310px;font-size:14px;line-height:50px;}
.bbs-page-list .bbs-list-inner .table-list .top-title .list-tit{background-position: 0 -160px;color: #ea1222;font-size: 14px;}
.bbs-page-list .bbs-list-inner .table-list .hot-title .list-tit{background-position: 0 -210px}
.bbs-page-list .bbs-list-inner .table-list .essential-title .list-tit{background-position: 0 -260px}
.bbs-page-list .bbs-list-inner .table-list .title .feature{vertical-align: text-top;}
.bbs-page-list .bbs-list-inner .table-list .reply_view .highlight{color: #f63;}
.bbs-page-list .bbs-list-inner .table-list .divider{background-color: #f7f7f7;}
.bbs-page-list .bbs-list-inner .table-list .divider td{height: 10px;}
.banner_con li{border: 1px solid #e1e2e2!important;}

/*论坛详情*/
.bbs-page .bbs-detail-inner{border-top:1px solid #d0d5d9;border-right:1px solid #d0d5d9;border-left:1px solid #d0d5d9;}
.bbs-page .bbs-detail-inner .bbs-detail-title{overflow:hidden;height:50px;border-bottom:1px solid #e7ecee;}
.bbs-page .bbs-detail-inner .w-1{float:left;width:200px;}
.bbs-page .bbs-detail-inner .w-2{overflow:hidden;zoom:1;}
.bbs-page .bbs-detail-inner .bbs-detail-title{background:#f8f8f8;}
.bbs-page .bbs-detail-inner .bbs-detail-title .w-1 .s-mn{float:left;width:200px;height:50px;border-right:1px solid #e7ecee;font-size: 14px;line-height: 50px;text-align: center;}
.bbs-page .bbs-detail-inner .bbs-detail-title .w-1 .s-mn span{margin-left:10px;color: #e31010;}
.bbs-page .bbs-detail-inner .bbs-detail-title .w-2{padding:0 20px;line-height:50px;}
.bbs-page .bbs-detail-inner .bbs-detail-title .w-2 .detail-title strong{margin-right:10px;color:#000;font-size:16px;font-weight:bold;}
.bbs-page .bbs-detail-inner .bbs-detail-title .w-2 .detail-title a{color:#7c7c7c;font-size:12px;}
.bbs-page .bbs-detail-inner .bbs-detail-title .w-2 .page-t{float:right;padding-top:10px;}
.bbs-page .bbs-detail-inner .bbs-detail-title .w-2 .page-t a{display:inline-block;width:30px;height:30px;background:url(../image/bbs_img.png) no-repeat;}
.bbs-page .bbs-detail-inner .bbs-detail-title .w-2 .page-t .prev-page{background-position:-201px -10px;}
.bbs-page .bbs-detail-inner .bbs-detail-title .w-2 .page-t .next-page{background-position:-234px -10px;}
.bbs-page .bbs-detail-inner .bbs-floor{overflow:hidden;border-bottom:1px solid #e7ecee;}
.user-info{position:relative;padding:30px 0;}
.user-info .user-name{margin-top:15px;color:#333;font-size:14px;font-weight:bold;text-align:center;}
.user-info .user-name figure{display:inline-block;width: 16px;height:17px;margin-right: 5px;background:-192px -96px url(../image/bbs_img2.png) no-repeat;vertical-align: top;}
.user-info .avatar{display:block;width:120px;height:120px;margin:10px auto;}
.user-info .offline-color{color:#f9b655;}
.user-info .online-color{color:#23c92e;}
.user-info>figure{position:absolute;top:0;right:0;display:block;width:52px;height:52px;background:url(../image/bbs_img2.png) no-repeat;}
.user-info>.first{background-position: 0 -96px;}
.user-info>.second{background-position: -64px -96px;}
.user-info>.third{background-position: -128px -96px;}
.user-info ul{padding:0 20px;}
.detail-txt{position:relative;min-height:220px;padding:45px 25px;color:#2c2c2c;border-left:1px solid #e7ecee;font-size:14px;_height:220px;}
.detail-txt .info{height:30px;padding:0 15px;line-height:30px;}
.detail-txt .time{color:#777;}
.detail-txt .floor{margin-left:5px;color: #666;font-size: 12px;}
.detail-txt .floor span{color:red;}
.detail-txt .main{margin:10px 0 80px;padding:0 15px;}
.detail-txt .footer{position: absolute;bottom:0;width:95%;border-top: dashed 1px #999;}
.detail-txt .footer .hricon{position: absolute;top:-15px;left:0;width:15px;height:17px;background:-256px -96px url(../image/bbs_img2.png) no-repeat;;}
.detail-txt .footer .operation{margin: 10px 0;}
.detail-txt .footer .operation a{color: #ef9f3a;font-size: 14px;}
.detail-txt .footer .operation a+a{margin-left: 10px;}
.detail-txt-first{padding-bottom: 200px;}
.detail-txt-first .footer .share-outer{background-color: #f7f7f7;padding:5px 0 2px;}
.detail-txt-first .footer .share-outer li{float: right;}
.detail-txt-first .footer .share-outer li + li{margin-right:5px;}
.detail-txt-first .footer .share-outer li .share_icon{display: block;width: 24px;height: 24px;background: url('../images/bbs/share_icon.png') no-repeat;}
.detail-txt-first .footer .share-outer li .share_xlwb{background-position: 0 0;}
.detail-txt-first .footer .share-outer li .share_txwb{background-position: -96px 0;}
.detail-txt-first .footer .share-outer li .share_qqkj{background-position: -48px 0;}
.detail-txt-first .footer .share-outer li .share_qq{background-position: -24px 0;}
.detail-txt-first .footer .share-outer li .share_rr{background-position: -120px 0;}
.detail-txt-first .footer .share-outer li .share_wx{background-position: -72px 0;}
.detail-txt-first .footer .ad-banner{position: relative; overflow: hidden;height: 185px; margin:0 30px 0 0;border-top:solid 1px #eee;}
.detail-txt-first .footer .ad-banner .tit{position:absolute;top:15px;left:27px;color:#555;font-size:20px;}
.detail-txt-first .footer .ad-banner .tit .qui_bid_ico{margin-right: 3px;}
.detail-txt-first .footer .ad-banner li{position:relative;overflow:hidden;height:185px;padding:0 27px;}
.detail-txt-first .footer .ad-banner li + li{border-top:1px solid #eee;}
.detail-txt-first .footer .ad-banner .tits{color:#5e5e5e;font-size:12px;}
.detail-txt-first .footer .ad-banner .cont{position:absolute;top:90px;left:27px;overflow:hidden;width:90%;}
.detail-txt-first .footer .ad-banner .cont > div{float:left;padding:0 2%;border-right:1px dashed #e2e2e2;}
.detail-txt-first .footer .ad-banner .cont .rates{width:19%;padding:0;}
.detail-txt-first .footer .ad-banner .cont .time{width:15%;}
.detail-txt-first .footer .ad-banner .cont .amount{width:29%;}
.detail-txt-first .footer .ad-banner .cont{color:#333;font-size:26px;line-height:30px;}
.detail-txt-first .footer .ad-banner .cont b{font-size:38px;}
.detail-txt-first .footer .ad-banner .cont span{padding-left:5px;font-size:14px;}
.detail-txt-first .footer .ad-banner .cont .conts{line-height:40px;vertical-align:bottom;}
.detail-txt-first .footer .ad-banner .rates{color:#ea544a;}
.detail-txt-first .footer .ad-banner .operate{position:absolute;top:0;right:27px;width:27%;height:100%;text-align:right;}
.detail-txt-first .footer .ad-banner .operate .btn{display:inline-block;width:133px;height:36px;margin-top:100px;color:#fff;border-radius:5px;background-color:#d7d7d7;-webkit-box-shadow:0 2px 0 0 rgba(198,198,198,1);box-shadow:0 2px 0 0 rgba(198,198,198,1);font-size:14px;line-height:36px;text-align:center;}
.detail-txt-first .footer .ad-banner .operate .red{display:inline-block;width:133px;height:36px;margin-top:100px;color:#fff;border-radius:5px;background-color:#f25e54;-webkit-box-shadow:0 2px 0 0 rgba(180,61,53,1);box-shadow:0 2px 0 0 rgba(180,61,53,1);font-size:14px;line-height:36px;text-align:center;}
.detail-txt-first .footer .ad-banner .operate .red:hover{background-color:#e44f45;}
.detail-txt-first .footer .ad-banner .operate .seal{position:absolute;right:0;bottom:-13px;width:107px;height:107px;background:url(../image/ico_seal_end.png) no-repeat left top;}
.detail-txt-first .footer .ad-banner .progress_bar{position:absolute;top:55px;left:27px;}
.detail-txt-first .footer .ad-banner .progress_bar .bar{display:inline-block;overflow:hidden;width:250px;height:7px;margin-right:10px;border-radius:5px;background-color:#e3e4e8;font-size:0;line-height:0;}
.detail-txt-first .footer .ad-banner .progress_bar .val{color:#5c5c5c;}
.detail-txt-first .footer .ad-banner .progress_bar .val b{color:#29a558;}
.detail-txt-first .footer .ad-banner .progress_bar em{display:inline-block;width:0;height:7px;border-radius:5px;background-color:#18b160;}
.detail-txt-first .footer .ad-banner .progress_bar em{-webkit-animation-name:bar;-webkit-animation-duration:1s;-webkit-animation-timing-function:ease-in-out;}
@-webkit-keyframes bar{0%{width:0;}}
.detail-txt-first .footer .ad-banner .warrant{position:absolute;top:25px;right:27px;}
.detail-txt-first .footer .ad-banner .warrant img{width:12px;height:12px;vertical-align:middle;}
.detail-txt-first .footer .ad-banner .countdown{position:absolute;top:100px;right:0;text-align:center;}
.detail-txt-first .footer .ad-banner .countdown .tits{height:25px;color:#676767;font-size:16px;line-height:25px;text-align:center;}
.detail-txt-first .footer .ad-banner .countdown .tits figure{display:inline-block;width:22px;height:22px;margin-right:3px;font-size:24px;line-height:22px;vertical-align:middle;}
.detail-txt-first .footer .ad-banner .countdown .conts{color:#676767;font-size:16px;}
.detail-txt-first .footer .ad-banner .countdown .conts span{padding:0 2px;color:#ea544a;font-weight:bold;}
.detail-txt-first .footer .ad-banner .qui_bid_ico{margin-right:3px;display:inline-block;width:17px;height:17px;background:url(../image/icon/base.png) no-repeat;}
.detail-txt-first .footer .ad-banner .qui_bid_zai{background-position:-3px -75px;}
.detail-txt-first .footer .ad-banner .qui_bid_jie{background-position:-27px -75px;}
.detail-txt-first .footer .ad-banner .qui_bid_ding{background-position:-3px -99px}
.bbs-page .reply_outer{border: solid 1px #bdbbbb;}
.bbs-page .reply_outer .tit{padding-left: 20px;background-color: #f9f7f7;font-size:16px;line-height: 53px;}
.bbs-page .reply_outer .tit>span{font-size: 14px;}
.bbs-page .reply_outer .tit>span{color: #ef2240;}
.bbs-page .reply_outer .con{padding:30px;}
.bbs-page .reply_outer .con .aside{float: left;}
.bbs-page .reply_outer .con .aside img{display:block;width:120px;height:120px;margin:10px auto;}
.bbs-page .reply_outer .con .replay_main{margin-left: 160px;}
.bbs-page .reply_outer .con .replay_main .input_box{width:900px;height:130px;border: solid 1px #767676;}
.bbs-page .reply_outer .con .replay_main .btn_reply{display: inline-block;margin-top: 10px;padding: 8px 30px;font-size: 14px;color: #fff;background-color: #f35e54;}
/*发布or回复*/
.reply_main{background-color:#fff;padding:20px 0;}
.reply_main .sidebar{width: 220px;border: 1px solid #e7ecee;}
.reply_main .sidebar .user-info { position: relative; padding: 10px 0; }
.reply_main .sidebar .user-info .user-name { text-align: center; font-size: 14px; font-weight: bold; color: #333; }
.reply_main .sidebar .user-info .avatar { margin: 10px auto; display: block; width: 120px; height: 120px; }
.reply_main .sidebar .user-info .offline-color { color: #f9b655; }
.reply_main .sidebar .user-info .online-color { color: #23c92e; }
.reply_main .sidebar .user-info s{position: absolute; right: -1px; top: 30px; display: block; width: 21px; height: 33px; background: url(../image/bbs_img.png) no-repeat -21px -188px; }
.reply_main .sidebar .user-info ul {margin-top: 20px;padding-left: 20px; }
.reply_main .main_con{overflow: hidden;padding-left: 20px;}
.reply_main .main_con .reply_tits{height: 50px;background-color:#f4f4f4;border:1px solid #d1d1d1;border-radius:5px;line-height: 50px;font-size:20px;color:#545454;padding:0 10px;}
.reply_main .main_con .reply_tit .tit{font-size:16px;color:#3e3e3e;}
.reply_main .main_con .reply_tit .cont input{padding:8px 0;width:100%;border: 1px solid #d1d1d1;text-indent:10px;}
.reply_main .main_con .reply_content{margin-top: 10px;}
.reply_main .main_con .reply_content .tits{font-size:16px;color:#3e3e3e;}
.reply_main .main_con .operation_con{height: 50px;}
.reply_main .main_con .operation_con a,.reply_main .main_con .operation_con input{border:0 none;cursor: pointer;display: inline-block;width: 90px;height:40px;line-height:40px;border-radius:5px;text-align: center;}
.reply_main .main_con .operation_con .cancel_btn{background-color:#e2e2e2;color:#6a6a6a;}
.reply_main .main_con .operation_con .submit_btn{background-color:#d84141;color:#fff;}


/* ---------------------在线客服 begin-------------------------- */
.float_quick_btn{position:fixed;bottom:90px;left:50%;margin-left:528px;border:1px solid #eaeaea;}
.full .float_quick_btn{margin-left:610px;}
.float_quick_btn a{display:block;width:60px;height:60px;margin-top:-1px;border-top:1px solid #eaeaea;background:#fff no-repeat center center;font-size:0;line-height:0;}
.float_quick_btn .service a{background-image:url(../image/float_quickbtn_ico1_on.gif);}
.float_quick_btn .service:hover a{background-image:url(../image/float_quickbtn_ico1.gif);}
.float_quick_btn .totop a{background-image:url(../image/float_quickbtn_ico2_on.gif);}
.float_quick_btn .totop:hover a{background-image:url(../image/float_quickbtn_ico2.gif);}
/* ---------------------在线客服 end-------------------------- */

/*----------------------文章搜索 begin--------------------------------*/
.bbs_search{overflow:hidden;min-height:600px;background-color:#fff;}
.bbs_search .quick_nav{height:55px;margin:20px 20px 0;padding:0 20px;border:1px solid #e7ecee;line-height:55px;}
.bbs_search .quick_nav li{float:left;margin-right:20px;}
.bbs_search .quick_nav a{color:#626b72;font-weight:bold;}
.bbs_search .quick_nav figure{display:inline-block;width:16px;height:16px;margin-right:5px;background:no-repeat left -1px;vertical-align:middle;}
.bbs_search .quick_nav .on{color:#f63;}
.bbs_search .quick_nav .ico1{background-image:url(../image/quick_nav_ico1.gif);}
.bbs_search .quick_nav .ico2{background-image:url(../image/quick_nav_ico2.gif);}
.bbs_search .quick_nav .ico3{background-image:url(../image/quick_nav_ico3.gif);}
.bbs_search .quick_nav .ico4{background-image:url(../image/quick_nav_ico4.gif);}
.bbs_search .result_info{margin:10px 20px 0;}
.bbs_search .search_tit{height:55px;margin:10px 20px 0;color:#626b72;border:1px solid #d0d5d9;background-color:#f1f1f1;font-weight:bold;line-height:55px;text-align:center;}
.bbs_search .search_con{width:760px;margin:100px auto 0;}
.bbs_search .search_con .keyword_tit{float:left;font-size:14px;font-weight:bold;line-height:35px;}
.bbs_search .search_con .keyword_txt{float:left;width:315px;margin-right:5px;padding:8px 10px;border:1px solid #d0d5d9;}
.bbs_search .search_con .submit_btn{float:left;width:80px;height:35px;margin-right:10px;color:#fff;border:0 none;border-radius:3px;background-color:#f63;line-height:35px;cursor:pointer;}
.bbs_search .search_con .options_con{float:left;color:#626b72;font-size:12px;}
.bbs_search .search_con .screening{margin-top:50px;text-align:center;}
.bbs_search .search_list{margin:0 20px;border:1px solid #d0d5d9;border-top:0 none;}
.bbs_search .search_list li{padding:10px 15px;border-bottom:1px solid #d0d5d9;}
.bbs_search .search_list .user_info,
.bbs_search .search_list .main,
.bbs_search .search_list .operation{padding:0 5px;}
.bbs_search .search_list .user_info{height:30px;background-color:#f8f8f8;line-height:30px;}
.bbs_search .search_list .user_info a{color:#000;}
.bbs_search .search_list .user_info a:hover{color:#f63;}
.bbs_search .search_list .main{margin:10px 0;}
.bbs_search .search_list .more_btn{color:#f63;}
.bbs_search .search_list .highlights{color:#ef6e00;font-weight:bold;}
.bbs_search .skip_con{margin:20px 20px 0;}
/*----------------------文章搜索 end--------------------------------*/


.con-panter span{margin-right: 40px;}
.con-panter span img{height: 40px;width: 140px;}

.bbs-inner-ll .tit{font-size: 24px;color: #333;text-align: center;padding-top: 30px;width: 100px;margin: 0 auto;border-bottom: 2px solid #ff6801;}
.con-panter{padding-top: 38px;}
.con-panter span {margin: 0 47px 20px 47px;display: inline-block;}