/**
 * 钱庄网Qian360
 * @affect 我要入驻
 * @date 2014-01-09
 * @version $V1.0$
 */
/* ---------------------general begin-------------------------- */
/*头部*/
.header{ border-bottom:1px solid #f1f1f1; -webkit-box-shadow: 0px 3px 10px -5px rgba(0,0,0,.5); -moz-box-shadow: 0px 3px 10px -5px rgba(0,0,0,.5); box-shadow: 0px 3px 10px -5px rgba(0,0,0,.5); }
.header .mid{position: relative; height:77px;}
.header .logo {position:absolute;left: 10px;top:20px;background:url(../image/i_logo.png) no-repeat left top}
.header .logo a { display: block;float: left;width:160px;height:45px; }
.header .logo .home_link { width: 175px; margin-right:10px; }
.header .logo .subhead_link{ font:14px/45px Arial,"Microsoft YaHei",simsun,sans-serif; color: #505050; }
.header nav{position: absolute;right: 0;top:44px;}
.header nav a{display: inline-block;margin-left: 25px;font-size:14px;color:#555;}
/*主体部分*/
.bd{background-color:#f0f0f0}
.bd.mid{background-color:#fff}
/* ---------------------general end-------------------------- */
/* ---------------------我要入驻频道页 begin-------------------------- */
/*banner*/
.slide_con,.slide_img{position: relative;}
.slide_con{z-index:1;}
.slide_img,.slide_img li,.slide_img a{height:323px;}
.slide_img li{position: absolute;top:0;left:0;width: 100%;background:no-repeat center top}
.slide_img a{display: block;}
.slide_operate{position: absolute;right:42px;top:80px;width: 245px;height:80px;padding:30px 0 40px;text-align: center;}
.slide_operate { filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#66000000', endColorstr='#66000000'); }
:root .slide_operate { filter:none; background-color:rgba(0,0,0,0.4); }
.slide_operate a{margin-top: 10px;display: inline-block;width: 193px;height: 40px;line-height: 40px;border-radius:3px;font-size:14px;font-weight: bold;color:#fff;}
.slide_operate .btn_application{background-color:#d84141}
.slide_operate .btn_schedule{background-color:#186eb1}
/*快捷导航*/
.quick_nav{position: absolute;left: 0;top: 80px;z-index: 10;width:184px;height: 150px;padding-top: 10px;border-right:1px solid #dfdfdf;}
.quick_nav { filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#CCFFFFFF', endColorstr='#CCFFFFFF');}
:root .quick_nav { filter:none; background-color:rgba(255,255,255,0.8); }
.quick_nav li{margin-left:35px;padding-left: 30px;}
.quick_nav li a{font-size:14px;color:#444;line-height:28px;}
.quick_nav .current{background:url(../image/quick_nav_on.png) no-repeat 5px center;}
.quick_nav .current a{color:#d84141;}
/*主体内容*/
.presence_main{float: right;width: 980px;padding-left: 20px;color:#888;}
.presence_main .row{border-bottom:1px solid #dfdfdf;padding:0 10px 40px 0;margin-bottom: 25px;}
.presence_main .tits{font-size:24px;color:#212121;}
.presence_main .about_con .main{float: left;width: 610px;}
.presence_main .about_con .main .conts{position: relative;padding-left: 60px;line-height:35px}
.presence_main .about_con .main .conts .more{position:absolute;right:0;bottom:0;color:#005ea7;}
.presence_main .about_con .notice{float: right;padding:0 15px;width: 215px;height:185px;background-color:#f4f4f4;font-family:simsun}
.presence_main .about_con .notice .tit{position: relative;overflow: hidden;}
.presence_main .about_con .notice .tit h4{float: left;display:block;height: 30px;line-height: 30px;border-bottom:3px solid #e21b38}
.presence_main .about_con .notice .tit .more{position: absolute;right:0;top:9px;display: block; width: 41px; height: 16px; background: url(../image/loans_list_more.png) no-repeat left top; }
.presence_main .about_con .notice .conts{margin-top: 10px;}
.presence_main .about_con .notice li{line-height:30px}
.presence_main .about_con .notice li a{display: block;width: 180px;color:#555;}
.presence_main .step_con{position: relative;}
.presence_main .step_con .conts{margin-top:10px;height:980px;}
.presence_main .step_con .step_img{position: absolute;left: 20px;display: block;width: 120px;height: 900px;}
.presence_main .step_con .conts .tit{font-size: 20px;color:#555;}
.presence_main .step_con .conts .content{margin-top:10px;line-height:210%;}
.presence_main .step_con .step{position: absolute;left: 155px;width: 235px;}
.presence_main .step_con .step1{top:60px;}
.presence_main .step_con .step1 a{margin-top:20px;display: block;width: 105px;height: 30px;line-height: 30px;text-align: center;border:1px solid #e1e1e1;}
.presence_main .step_con .step2{top:335px;}
.presence_main .step_con .step3{top:595px;}
.presence_main .step_con .step4{top:865px;}
.presence_main .charges_con,.presence_main .rules_con{line-height:35px}
.presence_main .charges_con span,.presence_main .rules_con span{color:#555;}
.presence_main table{margin-top: 20px;width: 710px;border:1px solid #dadada;}
.presence_main table caption{border:1px solid #dadada;border-bottom:0 none;border-collapse:collapse;height: 47px;background-color:#e6e9ed;color:#5d5d5d;font-size:20px;line-height: 47px;}
.presence_main table td,.presence_main table th{height:55px;border:1px solid #dadada;}
.presence_main table th{font-size:16px;color:#5d5d5d;font-weight: normal;}
.presence_main table td{text-align:center;}
/* ---------------------我要入驻频道页 end-------------------------- */
/* ---------------------公告列表 begin-------------------------- */
.notice_con{padding:30px 25px;border:1px solid #dfdfdf;background-color:#fff}
.notice_con li{position: relative;padding:0 30px;height: 74px;border-bottom:1px solid #dfdfdf; line-height:74px;}
.notice_con li a{display: block;overflow: hidden;}
.notice_con li .conts{width: 850px;color:#2e2e2e;}
.notice_con li .conts:hover{color:#dd4040;}
.notice_con li .conts figure{margin-left: 5px;display: inline-block;width: 9px;height: 14px;background:url(../image/qui_new.gif) no-repeat left top;}
.notice_con li .time{ position: absolute; right: 20px; top: 0; margin-right: 20px; font-style: normal; color: #999; }
.notice_con li .time figure { display: inline-block; margin-left: 30px; width: 16px; height: 16px; background: url(../image/information_list_bg.png) no-repeat left top; vertical-align: middle; }
.notice_con .paging{margin-top: 30px;text-align: center;}
/* ---------------------公告列表 end-------------------------- */
.examine_main{padding:50px 0;background-color:#fff;border:1px solid #dfdfdf;}
.examine_step{position: relative;}
.examine_step ol{position: relative;height:100px;}
.examine_step li{position:absolute;top:0;z-index: 1;width:100px;height:60px;text-align: center;}
.examine_step li figure{display: inline-block;margin-top: 5px;height:56px;width:56px;background:no-repeat left top;text-align: center;line-height: 32px;color:#fff;}
.examine_step li span{display: block;margin-top: 5px;font-size: 14px;color:#434343;}
.examine_step li.no span{color:#999;}
.examine_step .step1{left:15%;}
.examine_step .step1 figure{background-image:url(../image/examine_step1.png);}
.examine_step .step1.no figure{background-image:url(../image/examine_step1_no.png);}
.examine_step .step2{left:35%;}
.examine_step .step2 figure{background-image:url(../image/examine_step2.png);}
.examine_step .step2.no figure{background-image:url(../image/examine_step2_no.png);}
.examine_step .step3{left:56%;}
.examine_step .step3 figure{background-image:url(../image/examine_step3.png);}
.examine_step .step3.no figure{background-image:url(../image/examine_step3_no.png);}
.examine_step .step4{left:75%;}
.examine_step .step4 figure{left:905px;background-image:url(../image/examine_step4.png);}
.examine_step .step4.no figure{left:905px;background-image:url(../image/examine_step4_no.png);}
.examine_step .line{position: relative;top:-65px;height:2px;width:60%;background-color:#b9b9b9;margin:0 auto;}
.examine_conts{width: 810px;margin:25px auto 0;padding:40px 0;border:1px solid #e0e0e0;}
.examine_conts a{display:block;text-align: center;font-size:14px;}
.examine_conts .upData{position: relative;width: 195px;margin:0 auto;height: 40px;background-color:#d84141;line-height: 40px;color:#fff;border-radius:3px;overflow: hidden;text-align: center;}
.examine_conts .upData input{position: absolute;left:0;top:0;height: 40px;cursor: pointer;opacity: 0;filter: alpha(opacity=0);}
.examine_conts .dowData{width: 105px;margin:35px auto 0;height: 30px;border:1px solid #e1e1e1;line-height: 30px;color:#666;}
.examine_conts .dowData:hover{color:#dd4040;}
.examine_operation a{ display: inline-block; margin:20px 0 0 16%; width: 140px; height: 36px; background: url(../image/loan_operate_btn.png) no-repeat left top; border: 0 none; cursor: pointer; color: #fff; font-size: 14px; font-weight: bold; text-align: center; line-height: 36px; } 
/* ---------------------提交入驻申请 end-------------------------- */