<div id="footer">
    <div class="wrap clearfix">
        <dl>
            <dt>关于我们</dt>
            <dd><a href="###">公司证件</a></dd>
            <dd><a href="###">公司介绍</a></dd>
        </dl>
        <dl>
            <dt>安全保障</dt>
            <dd><a href="###">风控保障</a></dd>
            <dd><a href="###">法律保障</a></dd>
            <dd><a href="###">公司团队</a></dd>
        </dl>
        <dl>
            <dt>帮助中心</dt>
            <dd><a href="###">常用名词</a></dd>
            <dd><a href="###">常见问题</a></dd>
            <dd><a href="###">平台问题</a></dd>
        </dl>
        <dl>
            <dt>快速入门</dt>
            <dd><a href="###">投资指南</a></dd>
            <dd><a href="###">借款指南</a></dd>
            <dd><a href="###">新手指南</a></dd>
        </dl>
        <div class="footer-ewm">
            <img src="${contextPath}/themes/bbs/templates/default/image/footer-ewmbg.jpg" width="94px" height="93px" />
        </div>
        <div class="attention">
            <span class="kfrx">客服热线</span>
            <span class="kftel">${fuwutel}</span>
            <span class="kftime">（工作时间：周一至周六 9:00-18:30）</span>
            <div class="qqwbwx">
                <a href="javascript:"></a>
                <a href="javascript:"></a>
                <a href="javascript:"></a>
            </div>
        </div>
    </div>
    <p class="bottom">
        ${copyright}&nbsp;&nbsp;&nbsp;&nbsp;${beian}<br>
        ${address}
    </p>
</div>