
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
	<link rel="shortcut icon"  href="${contextPath}/themes/bbs/templates/${templateName}/image/favicon.ico"> 
	<link rel="stylesheet" href="${contextPath}/themes/bbs/templates/${templateName}/styles/base.css">
	<link rel="stylesheet" href="${contextPath}/themes/bbs/templates/${templateName}/styles/style.css">
	<link rel="stylesheet" href="${contextPath}/themes/bbs/templates/${templateName}/styles/rongui.css">
	<link rel="stylesheet" href="${contextPath}/themes/bbs/templates/${templateName}/styles/bbs.css">
	<script src="${contextPath}/themes/bbs/templates/${templateName}/js/jquery.js"></script>
	<!--[if lt IE 9]>
	<script src="${contextPath}/themes/bbs/templates/${templateName}/js/html5shiv.js"></script>
	<![endif]-->
	<#setting number_format = "#"/>
<#setting datetime_format = dateTimeFormat/>
<#assign logged = logged?default(false)/>
<#assign language = language?default("en_US")/>
<#assign hasCodeBlock = hasCodeBlock?default(false)/>


	<link id="linkCSS" type="text/css" rel="stylesheet" href="${contextPath}/themes/bbs/templates/${templateName}/styles/narrowScreen.css" />
	<style type="text/css">@import url( ${contextPath}/themes/bbs/templates/${templateName}/styles/${language}.css?${startupTime} );</style>
	<#if hasCodeBlock>
		<style type="text/css">@import url( ${contextPath}/themes/bbs/templates/${templateName}/styles/SyntaxHighlighter.css?${startupTime} );</style>
	</#if>
